#app{
    height: 100vh;
    width: 100%;
    padding: 0 !important; 
    background-image: url('src/assets/bg-sidebar-mobile.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-color: hsl(229, 24%, 87%);
}